body{
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
}
.atom_img{
    position: absolute;
    width: 300px;
    aspect-ratio: 1;
}
.houpacka_img{
    position: absolute;
    width: 250px;
    aspect-ratio: 1;
    left: 0;
    bottom: 0;
}
h1{
    color: rgb(35, 50, 90);
}
h2{
    color: rgb(35, 50, 90);
}
.klada_img{
    position: absolute;
    width: 250px;
    aspect-ratio: 1;
    right: 0;
}
.stromek_img{
    position: absolute;
    width: 250px;
    aspect-ratio: 1;
    right: 0;
    bottom: 0;
}
                                                                                                                                                                                                                             